# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin
build/
.gradle

initial/target/*

!initial/target/demo-0.0.1-SNAPSHOT.jar

# Eclipse Project Files #

.classpath
.project
.settings
.springBeans

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Test files

accessingdataneo4j.db
dependency-reduced-pom.xml
README.html
